In [36]:
import pandas as pd
from unidecode import unidecode

# ler o arquivo CSV com os dados separados por ponto e vírgula
inspecao = pd.read_csv("inspecao.csv", delimiter=";")

# remover acentos do nome das colunas
inspecao.columns = [unidecode(col) for col in inspecao.columns]

# remover acentos do conteúdo das colunas
for col in inspecao.columns:
    if inspecao[col].dtype == "object":
        inspecao[col] = inspecao[col].apply(lambda x: unidecode(x))

In [37]:
inspecao

,NOME_NAVIO,MES_ANO_ABERTURA,CLASSIFICACAO_RISCO,INDICE_CONFORMIDADE,PONTUACAO_RISCO,TEMPORADA
0,MSC SEASHORE,01/2023,A,"99,60",20,Programa de Inspeo Navios de Cruzeiro 2022/202...
1,MARINA,12/2015,A,"100,00",0,Programa de Inspeo Navios de Cruzeiro 2015/201...
2,SEVEN SEAS NAVIGATOR,12/2018,A,"100,00",0,Programa de Inspeo Navios de Cruzeiro 2018/201...
3,ADONIA,12/2017,A,"100,00",0,Programa de Inspeo Navios de Cruzeiro 2017/201...
4,MSC OPERA,03/2011,B,"93,29",225,Programa de Inspeo Navios de Cruzeiro 2010/201...
...,...,...,...,...,...,...
485,MSC SPLENDIDA,12/2015,A,"99,10",45,Programa de Inspeo Navios de Cruzeiro 2015/201...
486,SEVEN SEAS EXPLORER,01/2019,B,"94,80",260,Programa de Inspeo Navios de Cruzeiro 2018/201...
487,INSIGNIA,12/2019,A,"100,00",0,Programa de Inspeo Navios de Cruzeiro 2019/202...
488,SEVEN SEAS NAVIGATOR,12/2013,A,"100,00",0,Programa de Inspeo Navios de Cruzeiro 2013/201...
489,COSTA DELIZIOSA,01/2015,A,"99,60",20,Programa de Inspeo Navios de Cruzeiro 2014/201...

In [38]:
# substituir "Inspeção" por "Inspecao" em todas as células da coluna de índice 5
inspecao.iloc[:, 5] = inspecao.iloc[:, 5].apply(lambda x: x.replace("Inspeo", "Inspecao"))

In [39]:
#salvar as alterações em um novo arquivo

inspecao.to_csv("inspecao_sem_acentos.csv", sep=";", index=False)

In [41]:
inspecao.tail()

,NOME_NAVIO,MES_ANO_ABERTURA,CLASSIFICACAO_RISCO,INDICE_CONFORMIDADE,PONTUACAO_RISCO,TEMPORADA
485,MSC SPLENDIDA,12/2015,A,"99,10",45,Programa de Inspecao Navios de Cruzeiro 2015/2...
486,SEVEN SEAS EXPLORER,01/2019,B,"94,80",260,Programa de Inspecao Navios de Cruzeiro 2018/2...
487,INSIGNIA,12/2019,A,"100,00",0,Programa de Inspecao Navios de Cruzeiro 2019/2...
488,SEVEN SEAS NAVIGATOR,12/2013,A,"100,00",0,Programa de Inspecao Navios de Cruzeiro 2013/2...
489,COSTA DELIZIOSA,01/2015,A,"99,60",20,Programa de Inspecao Navios de Cruzeiro 2014/2...